{% extends 'baseFull.html' %}

{% block header %}
<h1>{% block title %}Scan MC{% endblock %}</h1>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<input id="uploadPicture" type="file" accept="image/*" capture="camera" style="display:none">
<div class='justify-content-center d-flex col-12'>
    <button class="btn btn-primary rounded-circle" onclick="document.getElementById('uploadPicture').click();">
        <i class="material-icons skiptranslate">camera</i>
    </button>
</div>
{% endblock %}