{% extends 'baseFull.html' %}
{% block head %}
<style>
    #main-btn-container{
        height:70vmin;
        width:70vmin;
    }
</style>
{% endblock %}

{% block content %}
<section id="main-btn-container" class="container-fluid">
    <div class="row h-100 row-cols-2">
        {% for btn in menu %}
        <div class="col p-1 d-flex">
            <a class="btn big btn-primary col" href="{{ url_for(btn.func) }}">
                <i class="material-icons skiptranslate">{{ btn.icon }}</i><br>
                <label>{{ btn.label }}</label>
            </a>
        </div>
        {% endfor %}  
    </div>
</section>
{% endblock %}